.skill_progress_container {
  width: 100%;
  height: 250px;
  padding: 70px;
  .skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    .logo {
      display: flex;
      justify-content: flex-start;
      width: 30%;
      align-items: center;
      img {
        width: 15%;
        margin-right: 12px;
      }
    }
  }

  .progreess {
    width: 100%;
    background-color: white;
    height: 10px;
    .inner_div {
      background: radial-gradient(
        circle,
        rgba(171, 0, 255, 1) 0%,
        rgba(134, 51, 255, 1) 0%,
        rgba(128, 59, 255, 1) 65%,
        rgba(115, 77, 255, 1) 75%,
        rgba(86, 116, 255, 1) 87%,
        rgba(67, 142, 255, 1) 100%
      );
      height: 10px;
    }
  }
}

@media only screen and (max-width: 688px) {
  .skill_progress_container {
    padding: 0;
  }
}
