.home_container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home_container .bg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../../../assets/escheresque.png");
}

.home_container .hero {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
}

.home_container .hero .hero_rep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_container .hero .hero_rep h1 {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-size: 45px;
  font-weight: 400;
  cursor: default;
  -webkit-animation: left 4s backwards;
          animation: left 4s backwards;
  text-align: justify;
}

.home_container .hero .hero_rep a {
  -webkit-animation: fadeIn 4s backwards;
          animation: fadeIn 4s backwards;
  margin-top: 25px;
  min-width: 185px;
  height: 40px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 107px 12px #ebe0c7;
          box-shadow: 0px 0px 107px 12px #ebe0c7;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home_container .hero .hero_rep a:hover {
  -webkit-box-shadow: 178px 0px 12px 12px white inset;
          box-shadow: 178px 0px 12px 12px white inset;
  color: #1c1024;
}

.home_container .hero .hero_img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation-name: cardAnimation;
          animation-name: cardAnimation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.home_container .hero .hero_img img {
  width: 325px;
}

@-webkit-keyframes cardAnimation {
  from {
    -webkit-transform: scale(0.5) rotateY(180deg);
            transform: scale(0.5) rotateY(180deg);
  }
  to {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
}

@keyframes cardAnimation {
  from {
    -webkit-transform: scale(0.5) rotateY(180deg);
            transform: scale(0.5) rotateY(180deg);
  }
  to {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .home_container .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1056px;
    padding: 0;
  }
  .home_container .hero .hero_rep {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_container .hero .hero_rep h1 {
    text-align: center;
    font-size: 46px;
  }
  .home_container .hero .hero_img {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: none;
            animation: none;
  }
  .home_container .hero .hero_img img {
    width: 350px;
  }
}

@media only screen and (max-width: 687px) {
  .home_container {
    overflow: auto;
  }
  .home_container .hero {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1056px;
    padding: 0;
  }
  .home_container .hero .hero_rep {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_container .hero .hero_rep h1 {
    text-align: center;
    font-size: 35px;
  }
  .home_container .hero .hero_img {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: none;
            animation: none;
  }
  .home_container .hero .hero_img img {
    width: 350px;
  }
}
/*# sourceMappingURL=home.css.map */